* {
  margin: 0;
  padding: 0;
  box-sizing: border;
  /* font-family: bahram */
}
section {
  width: 100vw;
  height: 100vh;
}
.scroll-notice {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  width: 40px;
}
.scroll-animation {
  animation: scroll 2s infinite;
}
@keyframes scroll {
  0% {
    transform: translateY(0) scaleY(1);
  }
  50% {
    transform: translateY(1.6rem) scaleY(0.8);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.intro {
  position: relative;
  background-color: #6fc0e4;
  filter: grayscale(80%);
  overflow: hidden;
}
.muhly {
  position: absolute;
  bottom: -0vh;
  /* object-fit: cover; */
  pointer-events: none;
}
.cloud {
  position: absolute;
  top: 10%;
  left: -400px;
  z-index: -2;
}
h1 {
  position: absolute;
  color: #ee727f;
  font-size: 5rem;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}
.park-model {
  border: 1px solid red;
  position: relative;
}
.park-model h2 {
  position: fixed;
  left: 50px;
  font-size: 5rem;
}
.park-model img {
  position: absolute;
  width: 100vw;
  height: 100vh;
}
